
.new-collections{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   margin-bottom: 100px;
   
  
 
   
}
.new-collections h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 0;
}
.new-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    margin-top: 10px; /* Add some top margin for separation */
    margin-bottom: 20px; /* Add some bottom margin for separation */
 }
 .collections{
   display: grid;
   gap: 20px;
   grid-template-columns:1fr 1fr 1fr 1fr;
   margin-top: 30px;
   margin-left:auto;
   margin-right: auto;
   padding-left: 55px;
  
   
   
      
 }
  
   
 