.productdisplay{
    display: flex;
    margin: 0px 170px;
    align-items: stretch;
   
    
}
.productdisplay-left{
    display: flex;
    gap: 17px;
   
}
.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.productdisplay-img-list img {
    width: 100px; /* Adjust the width of the smaller images */
    height: auto;
  }
.productdisplay-img{
    height: 100%;
    /*163px*/
}
.productdisplay-main-img{
    width: 486px;
    height: 525px;
    
}
.productdisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}

  
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 30px;
    font-weight: 700;

}
.productdisplay-right-star{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
    font-size: 16px;
    color: #1c1c1c;

}
.productdisplay-right-prices{
    display: flex;
    margin: 30px 0px;
    gap: 15px;
    font-size: 20px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 30px;
    color: #656565;
    font-size:20px ;
    font-weight: 600;


}
.productdisplay-sizes{
    display: flex;
    margin: 20px 0;
    gap: 20px;
}
.productdisplay-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;

}
.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
}
.productdisplay-category{
    margin-top: 10px;

}
.productdisplay-category span{
    font-weight: 600;
}